<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2><%=@recipe.name%></h2>
  <input type='text' name='name'>
  <h3>Ingredients</h3>
  <p><%=@recipe.ingredients%></p><br>
  <input type='text' name='ingredients'>
  <p>Cook Time: <%=@recipe.cook_time%></p>
  <input type='text' name='cook_time'>
  <input type='submit' value='edit'>
</form>
