<h1>Create Your Recipe!</h1>

<form action="/recipes" method="post">
<h2><label for "name">Name:</label></h2>
<p><input type="text" name="name"></p>

<h2><label for "ingredients">Ingredients:</label></h2>
<p><input type="text" name="ingredients"></p>

<h2><label for "cook_time">Cook Time:</label></h2>
<p><input type="text" name="cook_time"></p>
<input type="submit">
</form>
