<h1>Create a new recipe</h1>

<form action='/recipes' method='POST'>
  <h3>Name</h3>
  <input type='text' name='name'>
  <h3>Ingredients</h3>
  <input type='text' name='ingredients'>
  <h3>Cook Time</h3>
  <input type='text' name='cook_time'>
  <input type='submit' value='Submit'>
</form>
